<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="E-mail" [(ngModel)]="email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input placeholder="telefone" [(ngModel)]="telefone"></ion-input>
        </ion-item>  
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col>
          <ion-button (click)="salvar()"
            [disabled]="!nome || !email || !telefone">
            Ok
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
